* {
	font-family: 'Arial', 'sans-serif';
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
}

body {
	box-sizing: border-box;
	background: #F4F5F7;
}

#appContainer {
	margin: 0 auto;
	max-width: 1120px;
	padding: 60px 80px;
}

h2 {
	font-size: 51px;
	font-weight: 400;
	margin: 0;
}

h3 {
	font-size: 38px;
	margin: 0;
}

header {
	padding-bottom: 30px;
	border-bottom: #DADADA 1px solid;
}

header,
#cart_status {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#cart_status > img {
	margin-right: 10px;
}

#cart_status > p {
	color: #292929;
	font-size: 14px;
}
#cart_status > p:hover {
	color: #407FC0;
	cursor: pointer;
}

.singleProductContainer {
	background: #fff;
	display: flex;
	margin-top: 30px;
}

.itemInfoPriceContainer {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.singleItem {
	padding: 40px 50px;
	width: 55%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.itemInventory > p {
	color: #939393;
	font-size: 13px;
	text-transform: uppercase;
	margin-top: 20px;
}

.itemPrice > p {
	color: #202020;
	font-size: 21px;
	margin: 0;
}

.addButton {
	background: #5E97D1;
	border: none;
	border-radius: 25px;
	color: #fff;
	font-size: 14px;
	padding: 12px 20px;
	text-transform: uppercase;
	align-self: flex-start;
}

.addButton:hover {
	background: #407FC0;
	cursor: pointer;
}

.imgContainer {
	width: 45%;
}

.imgContainer > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}








