* {
	font-family: 'Arial', 'sans-serif';
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
}

body {
	box-sizing: border-box;
	background: #F4F5F7;
}

#appContainer {
	margin: 0 auto;
	max-width: 1120px;
	padding: 60px 80px;
}

h2 {
	font-size: 51px;
	margin: 0;
}

h3 {
	font-size: 38px;
	margin: 0;
}

header {
	padding-bottom: 30px;
	border-bottom: #DADADA 1px solid;
}

header,
#cart_status {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#cart_status > img {
	margin-right: 10px;
}

#cart_status > p {
	color: #292929;
	font-size: 14px;
}
#cart_status > p:hover {
	color: #407FC0;
	cursor: pointer;
}

.singleProductContainer {
	background: #fff;
	display: flex;
	margin-top: 30px;
	border-radius: 10px;
}

.itemInfoPriceContainer {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.itemInfo {
	margin-bottom: 80px;
}

.singleItem {
	padding: 40px 50px;
	width: 55%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.itemInventory > p {
	color: #939393;
	font-size: 13px;
	text-transform: uppercase;
	margin-top: 20px;
}

.itemPrice > p {
	color: #202020;
	font-size: 21px;
	margin: 0;
}

.addButton {
	background: #5E97D1;
	border: none;
	border-radius: 25px;
	color: #fff;
	font-size: 14px;
	padding: 12px 20px;
	text-transform: uppercase;
	align-self: flex-start;
}

.addButton:hover {
	background: #407FC0;
	cursor: pointer;
}

.imgContainer {
	width: 45%;
	height: auto;
}

.imgContainer > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px 0 0 10px;
}

/* CART MODAL */
/* Modal styled but haven't figured out how to show & hide on click using React */

.cartModal {
	display: none;
	background: #fff;
	max-width: 780px;
	padding: 60px 80px;
	margin: 0 auto;
}

.cartModal > img {
	float: right;
	margin: -30px -50px;
}

.cartModal > h3 {
	padding-bottom: 30px;
	border-bottom: 1px solid #E8E8E8;
}

#emptyCart {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 150px auto;
}

#emptyCart > div {
	max-width: 50%;
	display: flex;
    flex-direction: column;
}

#emptyCart_image {
	align-self: center;
}

#emptyCart p {
	font-size: 21px;
	color: #919191;
	text-align: center;
}



/* MEDIA QUERIES */
/* I was exploring using the react container query library but couldn't properly implement. I am sticking to using regular media queries as of now */

@media screen and (max-width: 768px) {

	#appContainer {
		max-width: 668px;
		padding: 40px 50px;
	}

	header {
		padding-bottom: 20px;
	}

  	h2 {
		font-size: 38px;
	}

	h3 {
		font-size: 28px;
	}

	.singleProductContainer {
		margin-top: 20px;
	}

	.itemInfo {
		margin-bottom: 45px;
	}

	.singleItem {
		padding: 30px 40px;
	}

	.itemInventory > p {
		font-size: 12px;
		margin-top: 10px;
	}
}


@media screen and (max-width: 475px) {
	#appContainer {
		max-width: 280px;
		padding: 30px 20px;
	}

	header {
		flex-direction: column;
		align-items: flex-start;
	}

	#cart_status {
		margin-top: 5px;
	}

	#cart_status > p {
		margin: 0;
	}

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 21px;
	}

	.singleProductContainer {
		flex-direction: column;
	}

	.imgContainer {
		width: auto;
    	height: 211px;
	}

	.imgContainer > img {
		border-radius: 10px 10px 0 0;
	}

	.singleItem {
		width: auto;
		padding: 30px 20px;
	}

	.itemInfo {
		margin-bottom: 25px;
	}

	.itemPrice > p {
		font-size: 16px;
	}

	.addButton {
		font-size: 13px;
		padding: 8px 16px;
		text-transform: uppercase;
		align-self: flex-start;
	}
}









































































